.pd-hero-sec{
    width: 100%;
    height: 90vh;
    border-left: 1px solid white;
}

.pd-hero-img-wrapper{
    width: 100%;
    height: 100%;
}

.pd-img{
    width: 100%;
    height: 100%;
    background-size: cover;
    background: fixed;
}