.project-description-section{
    width: 100%;height: 100%;
    border-left: 1px solid white;
}

.project-description-section > .pd-title{
    width: 100%;
    height: auto;
    font-size: 4vw;text-align: center;
    border-bottom: 1px solid white;
    margin: 0;
}

.project-description-wrapper{
    width: 100%;height: 100%;
}

.project-description{    
    width: 130ch;
    height: auto;
    font-size: 1vw;
    text-align: justify;
    margin: auto auto;
    border: 1px solid white;
    border-top: 0px;
    padding: 2%;
}

.date{
    font-size: 1.3vw;
}



